*.DS_STORE
*.jar
*.db
DynamicShop/Shop_Backup
CMILib/FileBackups
NotBounties/posters
mcMMO/backup
DynamicShop/Log 
CMI/moneyLog
.paper-remapped/
spark/
BlackJack/stats.yml
Brewery/data.yml
Brewery/worlddata.yml
Brewery/worlddataBackup.yml
BustaMine/User.yml
CCTV/camera.yml 
CCTV/computers.yml
CCTV/userdata.yml
CMI/security.key
ConquerUtils/data.yml
ConquerVotes/data.yml
CraftingStore/
DiscordSRV/accounts.aof
DynamicShop/User.yml
FastAsyncWorldEdit/
FAuction/database.yml
floodgate/key.pem
ImageFrame/data/
ImageFrame/players/
InteractiveChat/storage.yml
InteractiveChatDiscordSrvAddon/cache
LuckPerms/
LWCTrust/trusts/
mcMMO/locales/
MyCommand/playerdata
MyCommand/blockdatabase.yml
MyCommand/hologram_database.yml
MyCommand/npcsdatabase.yml
MyCommand/othersdb.yml
MyCommand/playerdata.yml
MyCommand/signsdatabase.yml
NewGods/GodDatabase/
NewGods/PlayerDatabase/
NotBounties/bounties.yml
PlaceholderAPI/
PluginMetrics/
ProtocolLib/
QSFindItemAddOn/shops.json
SurvivalTop/dat/
Towny/data/
Towny/backup/
Vault/
ViaBackwards/
ViaRewind/
ViaVersion/
Votifier/
WorldDynamicsEngine/data/
WorldGaurd/
WorldGaurd-Towny/
DiscordSRV/
